[Desktop Entry]
Version=1.0
Type=Application
Name=Peracotta
Comment=Start peracotta in a terminal
Terminal=true
Exec=/home/weee/peracotta/main.py
Icon=/home/weee/.config/peracotta.png
Path=/home/weee/peracotta
