[Desktop Entry]
Version=1.0
Type=Link
Name=Tarallo
Comment=Do the inventario opportuno
Icon=/home/weee/.config/tarallo.png
URL=https://tarallo.weeeopen.it/
