[Desktop Entry]
Version=1.0
Type=Application
Name=Peracotta GUI
Comment=Start peracotta GUI
Exec=peracotta
Icon=/home/weee/.config/peracotta.png
Path=/home/weee/peracotta
