[Desktop Entry]
Version=1.0
Type=Application
Name=Peracruda
Comment=Start peracruda (peracotta CLI)
Terminal=true
Exec=sh -c '/home/weee/peracotta/peracruda; echo "Press enter to exit"; read FOO'
Icon=/home/weee/.config/peracruda.png
Path=/home/weee/peracotta
