[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Pointerkeys
Comment=Move cursor with numpad
Exec=setxkbmap -option keypad:pointerkeys
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
