#       $OpenBSD: sshd_config,v 1.103 2018/04/09 20:41:22 tj Exp $
# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

#Port 22
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::

PasswordAuthentication yes
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem       sftp    /usr/lib/openssh/sftp-server
