[Desktop Entry]
Version=2.0
Type=Link
Name=Tarallo
Comment=Do the inventario opportuno
Icon=/home/weee/.config/WEEE Open/tarallo/tarallo.png
URL=https://tarallo.weeeopen.it/
