[Desktop Entry]
Version=1.0
Type=Application
Name=Peracotta GUI
Comment=Start peracotta GUI
Exec=/home/weee/.local/bin/peracotta
Icon=/home/weee/.config/WEEE Open/Peracotta.png
Path=/home/weee/.config/WEEE Open/peracotta
